<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Producción NTGANDHIDB.Gandhi
    <add key="SQL.Conexion1" value="4tjxtrvSXxvC0cyHIC1c13hCSHoKlzJHm3q+S+515PuGJ4EKjVGru5so/RSMOj0lHnz2MRnnuwSqh0OqB9K9syhjb0t4DnFCZ+KMPj7ZK2rr3blyZf5BJKs+jzZxH85wsmGeIX1w2AUeJL6FcfAZ22WVIroAKdPPqY8hF5wsISo="/>
    -->
    <!-- Pruebas NTGANDHIDB.GandhiSemanal -->
    <add key="SQL.Conexion1" value="4tjxtrvSXxvC0cyHIC1c1+Joovfom2tOqBAULPCDXbiI36sQO2PQHyD5SklRyDCCPLlWecDUy01x5yXnMNKzNYvIruBh4yHav82VgQHGJ31UTiTmf4O41e2lCyR0SNJQknBMOe3V1FRQskkPhpx6diddB4cinwZ5Ar2Y+nx6ebXUgoNhUGwREA=="/>


    <!-- Produccion NTGANDHIDB Ant    
    <add key="SQL.Conexion1" value="RrJdjnx/O6C3i8QapmG9ICbj44nSvMknmHZBhZE9lZazSMKy0FA97xHFqc0G++Tk/e6LinsUCGFGRGsaVasPl9s5oM9GF5+o"/>
     -->

    <!-- Proveedor -->
    <add key="idProveedor" value="15068"/>
    <add key="Proveedor" value="Librerias Gandhi S.A. de C.V."/>
    <!-- lenCB: Se utiliza para regular el tamaño del CB -->
    <add key="lenCB" value="13"/>
    <!-- Impresora -->
    <add key="Impresora.Nombre" value="HP LaserJet 200 color MFP M276 PCL 6"/>
    <!-- Numero de copias -->
    <add key="Reporte.Copias" value="1"/>
    <!-- Ruta de los archivos Crystal Reports -->
    <add key="Ruta.RPT" value="C:\DirTrabajoEmbarque\Reportes"/>
    <!-- Directorio de trabajo -->
    <add key="Ruta.Trabajo" value="C:\DirTrabajoEmbarque\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- Opción vista previa en PDF 1-Yes,2-No-->
    <add key="Previo.PDF" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
